<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Embedded JavaScript templating</title>
</head>

<body>
    <% const animals=["Cat", "Dog" , "Lemur" , "Hawk" ] %>

        <ul>
            <% animals.map((animal)=> { %>
                <li>
                    <%= animal %>s are cute
                </li>
                <% }) %>
        </ul>

        <ul>
            <li>Cats are cute</li>
            <li>Dogs are cute</li>
            <li>Lemurs are cute</li>
            <li>Hawks are cute</li>
        </ul>


        <%= message %>
</body>

</html>